claude-api-py
PyExecJS
aiohttp
aiohttp_socks
async-property
beautifulsoup4
brotli
brotlicffi
brotlipy
browser_cookie3
certifi
curl_cffi>=0.5.10
duckduckgo-search
fastapi
flask
g4f
loguru
nest_asyncio
numpy
openai>=0.28.0, <1.0.0
pandas
pillow
platformdirs
py-arkose-generator
pycryptodome
requests
setuptools
undetected-chromedriver
uvicorn
werkzeug
